rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Aturan untuk koleksi pendaftaran
    match /pendaftaran/{docId} {
      // Izinkan pembacaan untuk semua pengguna (untuk halaman cek status)
      allow read: if true; 

      // Izinkan penulisan (create, update, delete) HANYA jika pengguna terautentikasi
      // dan email mereka adalah email admin yang diizinkan.
      // GANTI 'admin@yourdomain.com' dengan email admin yang Anda buat di Firebase Auth.
      allow write: if request.auth != null && request.auth.token.email == 'atmint@gmail.com';
    }

    // Aturan default untuk koleksi lain
    match /{document=**} {
      allow read, write: if false; // Default to deny for all other collections
    }
  }
}
